
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="row text-center">
    <div class="col-12">
        <center>
            <h1>Check Your Inbox</h1>
        </center>                
    </div>
    <div class="col-12">
       <img src="~/images/Envelope.gif" class="img-fluid shadow border-0 rounded rounded-3 " />
    </div>
</div>


