@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="col-md-6 contents">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-4">
                <h3> <strong>Sign In </strong></h3>

            </div>

            <form asp-action="SignIn" asp-controller="Account">          
                <div class="form-group first">
                    <label asp-for="Email">Email</label>
                    <input type="text" class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="my-2 fs-6 text-danger"></span>
                </div>
                <div class="form-group  mb-4">
                    <label asp-for="Password">Password</label>
                    <input type="password" class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password" class="my-2 fs-6 text-danger"></span>
                </div>

                <div class="d-flex mb-5 justify-content-center align-items-center flex-column-reverse text-center">
                    <label class="control control--checkbox my-1 w-50 text-center">
                        <span class="caption">Remember me</span>
                        <input type="checkbox" checked="checked" />
                        <div class="control__indicator"></div>
                    </label>
                    <span class="w-100 my-1"><a asp-action="ForgetPassword" class="forgot-pass">Forgot Password</a></span>
                    <span class="w-100 my-1 fs-6 forgot-pass">You don't have an account ! <a asp-action="SignUp">Sign Up </a></span>

                </div>

                <input type="submit" value="Sign In" class="btn text-white btn-block btn-primary">

                @* <span class="d-block text-left my-4 text-muted"> or sign Up with</span> *@

                @*  <div class="social-login">
                <a href="#" class="facebook">
                <span class="icon-facebook mr-3"></span>
                </a>
                <a href="#" class="twitter">
                <span class="icon-twitter mr-3"></span>
                </a>
                <a href="#" class="google">
                <span class="icon-google mr-3"></span>
                </a>
                </div> *@
            </form>
        </div>
    </div>

</div>



