@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="col-md-6 contents">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-4">
                <h3> <strong>Sign Up </strong></h3>
             
            </div>

            <form asp-action="SignUp" asp-controller="Account">
                <div class="form-group first">
                    <label asp-for="FirstName">First Name</label>
                    <input type="text" class="form-control" asp-for="FirstName" />
                    <span asp-validation-for="FirstName" class="my-2 fs-6 text-danger"></span>
                </div>
                <div class="form-group first">
                    <label asp-for="LastName">Last Name</label>
                    <input type="text" class="form-control" asp-for="LastName" />
                    <span asp-validation-for="LastName" class="my-2 fs-6 text-danger"></span>
                </div>
                <div class="form-group first">
                    <label asp-for="Email">Email</label>
                    <input type="text" class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="my-2 fs-6 text-danger"></span>
                </div>
                <div class="form-group  mb-4">
                    <label asp-for="Password">Password</label>
                    <input type="password" class="form-control" asp-for="Password"/>
                    <span asp-validation-for="Password" class="my-2 fs-6 text-danger" ></span>
                </div>
                <div class="form-group  mb-4">
                    <label asp-for="ConfirmPassword">ConfirmPassword</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="my-2 fs-6 text-danger"></span>
                </div>

                <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0">
                        <span class="caption">Remember me</span>
                        <input type="checkbox" checked="checked" />
                        <div class="control__indicator"></div>
                    </label>
                    <span class="ml-auto"><a asp-action="SginIn" class="forgot-pass">Sign In</a></span>
                </div>

                <input type="submit" value="Sign Up" class="btn text-white btn-block btn-primary">

                @* <span class="d-block text-left my-4 text-muted"> or sign Up with</span> *@

               @*  <div class="social-login">
                    <a href="#" class="facebook">
                        <span class="icon-facebook mr-3"></span>
                    </a>
                    <a href="#" class="twitter">
                        <span class="icon-twitter mr-3"></span>
                    </a>
                    <a href="#" class="google">
                        <span class="icon-google mr-3"></span>
                    </a>
                </div> *@
            </form>
        </div>
    </div>

</div>

